body{
    background-color: rgb(215, 215, 215);
}

/* div {
    align-content: center;
    background-color: #FDFDBD;
    width: 500px;
    height: 500px;
} */

p {
    text-align: center;
}

h2 {
    text-align: center;
}

.parent {
    background-color: #FDFDBD;
    width: 500px;
    height: 500px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: rgb(232, 232, 232);
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: rgb(255, 255, 255);
    padding: 4px;
  }
  
  .browser > h2, p {
    margin: 2px;
    font-size: 90%;
  }

  aside {
    background-color: #FDFDBD;
    margin: 10px;
    font-style: italic;
    float: right;
    margin-bottom: 10px;
  }

  audio {
    background-color: rgb(255, 166, 0);
    margin: 0px 10px 10px 10px ;
    padding: 10px;
  }
  .audio {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    background-color: aliceblue;
    width: 10%;
    padding: 5px;
  }

  blockquote {
    background-color: rgb(222, 222, 115);
    width: 200px;
  }

  button {
    padding: 2px;
    margin: 5px;
  }